.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    margin-bottom: 10px;

}