.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid rgb(88, 66, 66);
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    margin-bottom: 10px;

}

.stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}