body {
  

  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  distributions;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
@media screen and (max-width: 600px) {
  body {
    font-size: medium;

    
  }
  .presentation {
    height: 50vh;
  }
}
.App-header {
  height: 20px;
  border-bottom: 1px solid rgb(88, 66, 66);
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.7;
  background-color: inherit;
}
.App-header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: medium;
}
.presentation {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 80vh;
  width: minmax(300px, 600px);
}
.name {
  font-size: 50px;
  color: #535bf2;
}
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(88, 66, 66);
  border-radius: 10px;
  height: fit-content;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;

}
.about p span {
  font-weight: 600;

}
.stack-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.my-work {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 100vh;
  gap: 10px;

}
.stack {
  display: flex;
  justify-content: space-around;
  align-items: center;

  text-align: center;
  flex-wrap: wrap;
}
.stack {
  padding: 20px;
  border-radius: 10px;
}
.aboutwork {
    height: minmax(200px, 300px);
    border: 1px solid rgb(88, 66, 66);
    padding: 20px;
    border-radius: 10px;
    width: minmax(300px, 600px);
}
.languageSwitch {
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.switch {
  width: 20px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
  
}
.switch[data-language = "true"] {
  justify-content: flex-end;
}

.circle {

  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: #000000;

  
}